include includes/layout_head.pug

  div(class='background-video')
    video(src='videos/wollheim_background_video_no_sound.mp4', autoplay='1', loop='1')

  include includes/menu.pug

  main(id='page-container', class='page', style='height: 100%;')
    include includes/under_construction.pug
