doctype
html
  head
    title #{title} - Wollheim Vision
    block headerscripts
    block stylesheets
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='/stylesheets/elk.min.css')
      link(rel='stylesheet', href='/stylesheets/wollheim.css')
  body
    div(class='container', role='application')
      div(id='header-container')
        header(class='banner', role='banner')
          block sidebar
            p Testing
      main(id='page-container', class='page')
        h1 test