doctype
html
  head
    title #{title} - Wollheim Vision
    include includes/head.pug
  body
    div(class='background-video')
      iframe(frameborder='0', height='100%', width='100%', src='https://www.youtube.com/embed/W75DQvTJeoA?modestbranding=1&autoplay=1&controls=0&fs=0&loop=1&rel=0&showinfo=0&disablekb=1&playlist=aMDzqLzBdtI,K1tprJmcFU8,W75DQvTJeoA', allow='autoplay; encrypted-media')
    div(class='container', role='application')
      include includes/menu.pug
      main(id='page-container', class='page')
        h1 test
