doctype
html
  head
    title #{title} - Wollheim Vision
    link(rel='stylesheet', href='elk.min.css')
  body
    header
      h1 Wollheim Vision
    .container
      .main-content
        block content
      .side-content
        block sidebar
    footer
      p © The Fuel Rats Mischief 2018