include includes/layout_head.pug

  div(class='background-video')
    video(src='videos/background', autoplay='1', loop='1', muted)

  include includes/menu.pug

  main(id='page-container', class='page', style='height: 100%;')
    include includes/under_construction.pug
