include includes/layout_head.pug

  div(class='background-video')
    video(autoplay='1', loop='1', muted, poster='images/background.jpg')
      source(src='videos/background.webm' type='video/webm')
      source(src='videos/background.mp4' type='video/mp4')

  include includes/menu.pug

  main(id='page-container', class='page', style='height: 100%;')
    include includes/under_construction.pug
